$bp1600: 1599.98px;
$bp1440: 1439.98px;
$bp1280: 1279.98px;
$bp1024: 1023.98px;
$bp992: 991.98px;
$bp800: 799.98px;
$bp768: 767.98px;
$bp600: 599.98px;
$bp480: 479.98px;
$bp375: 374.98px;
$bp320: 319.98px;

$blackcolor:#000;
$whitecolor:#fff;






$menuBodyColor:rgba(0, 0, 0, 0.1);
$menuLinkActiveColor:$whitecolor;

$navgap:56px;
$bpToggle:$bp800;
$togglecolor: $blackcolor;
$toggleActiveColor:$whitecolor;





